$percent: 1440/100;
$sp_percent: 375/100;
$middle: 960px;
$ff_japanese: "Zen Kaku Gothic New", sans-serif;

html{
    font-size: calc(1vw/$sp_percent);
    @media(min-width:$middle){
        font-size: calc(1vw/$percent);
    }
    @media(min-width:1440px){
        font-size: 1px;
    }
}
body{
    color: #ffffff;
    font-family: $ff_japanese;
    background-color: #0B0C10;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    display: block;
    line-height: 100%;
}
a:hover{
    opacity: 0.7;
}
iframe{
    display: none;
}