@use "common.scss";
$ff_english: "Cormorant Garamond", serif;
$pad: 600px;
$middle: 960px;
$desk: 1280px;
$percent: 1440/100;
$sp_percent: 375/100;



header{
    height: 607px;
    position: relative;
    @media(min-width:960px){
        height: 62vw;
    }
    .mainvisual{
        width: 100%;
        height: 100%;
    }
    .mainvisual::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(270deg, rgba(21, 22, 26, 0.00) 7%, #15161A 100%);
    }
    .header_top{
        width: 100%;
        padding: 0 4%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        h1{
            margin-top: 20px;
            width: 180px;
            @media(min-width:$middle){
                width: 20%;
                margin-top: 40px;
            }
        }
        nav{
            display: none;
            @media(min-width:$middle){
                display: block;
                width: calc(982vw/$percent);
                ul{
                    text-align: right;
                    margin-top: 65px;
                    li,a{
                        display: inline-block;
                        margin-right: 4%;
                        font-size: 32rem;
                        font-family: $ff_english;
                        
                    }
                    li:last-child,
                    a:last-child{
                        margin-right: unset;
                    }
                }  
            }
        }
        .humburger{
            width: 29px;
            height: 19px;
            margin-top: 34px;
            cursor: pointer;
            @media(min-width:$middle){
                display: none;
            }
            span{
                display: block;
                content: "";
                width: 29px;
                border: 1px solid #FFFFFF;
                transition: .5s;
            }
            span:nth-child(1),
            span:nth-child(2){
                margin-bottom: 8px;
            }
        }
        .humburger.open{
            span:nth-child(1){
                transform: translate(0,5px) rotate(315deg);
            }
            span:nth-child(2){
                display: none;
            }
            span:nth-child(3){
                transform: translate(0,-5px) rotate(-315deg);
            }
        }
    }
    .catch_copy{
        width: 45%;
        position: absolute;
        top: 266px;
        left: 4%;
        @media(min-width:$pad){
            top: 200px;
        }
        @media(min-width:$middle){
            top: 240px;
        }
        p{
            font-family: $ff_english;
            font-size: 10vw;
            font-style: italic;
            line-height: 120%;
            letter-spacing: 2px;
            font-weight: 600;
            @media(min-width:$pad){
                font-size: 8vw;
            }
            @media(min-width:$middle){
                font-size: 96rem;
            }
        }
    }
    .contact_area{
        position: absolute;
        bottom: 16px;
        left: 4%;
        @media(min-width:$middle){
            bottom: 32px;
            width: 40%;
        }
        .online{
            font-size: 14px;
            letter-spacing: 0.7px;
            margin-bottom: 14px;
            position: relative;
            @media(min-width:$middle){
                font-size: calc(32vw/$percent);
                letter-spacing: calc(1.6vw/$percent);
                margin-bottom: calc(32vw/$percent);
            }
        }
        .online:hover{
            opacity: 0.7;
        }
        .online::after{
            content: "";
            display: block;
            width: 40px;
            border: 0.5px solid #ffffff;
            position: absolute;
            top: 50%;
            right: -40px;
            @media(min-width:$middle){
                width: calc(88vw/$percent);
                right: 0;
            }
        }
        .tel{
            display: inline-block;
            font-size: 28px;
            letter-spacing: 1.4px;
            font-weight: 300;
            margin-left: 28px;
            border-bottom: 0.5px solid #ffffff;
            position: relative;
            @media(min-width:$middle){
                font-size: calc(64vw/$percent);
                letter-spacing: calc(3.2vw/$percent);
                margin-left: 12%;
            }
        }
        .tel::before{
            content: "";
            display: block;
            background-image: url(../images_door/iconamoon_phone-thin.png);
            background-size: contain;
            width: 28px;
            height: 28px;
            position: absolute;
            top: 6px;
            left: -36px;
            @media(min-width:$middle){
                width: 4vw;
                height: 4vw;
                left: -16%;
            }
        }
    }
    .news{
        position: absolute;
        bottom: -152px;
        left: 4%;
        background-color: #15161A;
        padding: 8px 16px;
        width: 96%;
        @media(min-width:$pad){
            width: 44%;
            bottom: 16px;
            left: unset;
            right: 0;
            @media(min-width:$middle){
                bottom: 32px;
            }
            @media(min-width: $desk){
                padding: 20px 40px;
            }
        }
        &__heading{
            display: flex;
            gap: 8px;
            margin-bottom: 16px;
            @media(min-width:$middle){
                gap: calc(24vw/$percent);
            }
        }
        &__heading h3{
            font-family: $ff_english;
            font-size: 24px;
            letter-spacing: 1.2px;
            padding-bottom: 8px;
            line-height: 100%;
            border-bottom: 1px solid #ffffff;
            @media(min-width:$middle){
                font-size: calc(32vw/$percent);
                letter-spacing: calc(3.2vw/$percent);
                margin-bottom: calc(16vw/$percent);
            }
        }
        &__heading p{
            display: inline-block;
            font-size: 10px;
            letter-spacing: 0.5px;
            margin: 14px 0 8px;

            line-height: 100%;
            position: relative;
            @media(min-width:$middle){
                font-size: calc(14vw/$percent);
            }
        }
        &__heading p::after{
            content: "";
            display: block;
            width: 24px;
            border: 1px solid #ffffff;
            position: absolute;
            top: 50%;
            right: -32px;
            @media(min-width:$middle){
                top: calc(9vw/$percent);
                width: calc(48vw/$percent);
                right: calc(-56vw/$percent);
            }
        }
        &__dl{
            .news_list{
                margin-bottom: 18px;
                display: flex;
                gap: 16px;
                &__date{
                    font-size: 12px;
                    font-weight: 300;
                    letter-spacing: 0.6px;
                    line-height: 100%;
                    @media(min-width:$middle){
                        font-size: calc(16vw/$percent);
                        letter-spacing: calc(1.6vw/$percent);
                        margin-bottom: calc(16vw/$percent);
                    }
                }
                &__title{
                    font-size: 12px;
                    font-weight: 300;
                    letter-spacing: 0.6px;
                    line-height: 100%;
                    @media(min-width:$middle){
                        font-size: calc(16vw/$percent);
                        letter-spacing: calc(1.6vw/$percent);
                        margin-bottom: calc(16vw/$percent);
                    }
                }
            }
            .news_list:last-child{
                margin-bottom: unset;
            }
        }
    }
}
// スマホメニュー表示
.sp_nav{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(21, 22, 26,0.95);
    ul{
        padding: 100px 4% 0;
        @media(min-width:$pad){
            padding: 160px 4% 0;
        }
        a{
            font-family: $ff_english;
            font-size: 40px;
            margin-bottom: 16px;
        }
    }
}
.sp_nav.open{
    display: block ;
    animation-name: fadeUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeUp{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
// スマホメニュー表示

#about{
    margin-top: 232px;
    margin-bottom: 80px;
    padding: 76px 0;
    background:url(../images_door/door_bg.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 32px 16px #0B0C10 inset;
    @media(min-width:$middle){
        margin-top: 160px;
        margin-bottom: unset;
        padding: 144px 0;
    }
    .about_text{
        text-align: center;
        padding: 0 4%;
        p{
            font-size: 14rem;
            color: #FFF;
            line-height: 300%;
            letter-spacing: 0.7px;
            @media(min-width:$middle){
                color: #FFF;
                font-size: 20rem;
                letter-spacing: 1px;
            }
        }
    } 
}

#gallery{
    padding-top: 80px;
    margin-bottom: 80px;
    position: relative;
    @media(min-width:$middle){
        padding-top: 160px;
        margin-bottom: unset;
    }
    h2{
        display: inline-block;
        font-family: $ff_english;
        font-size: 24rem;
        line-height: 100%; 
        letter-spacing: 1.2px;
        padding: 0 16px 8px 0;
        margin-bottom: 16px;
        margin-left: 4%;
        border-bottom: 1px solid #ffffff;
        @media(min-width:$middle){
            font-size: 96rem;
            letter-spacing: 4.8px;
            padding: 0 40px 16px 0;
            margin-bottom: 64px;
        }
    }
    .gallery_bg{
        font-size: 64rem;
        line-height: 100%;
        letter-spacing: 3.2px;
        color: #15161A;
        position: absolute;
        top: 0;
        right: 0;
        @media(min-width:$middle){
            font-size: 160rem;
            letter-spacing: 8px;
        }
    }
    .gallery_slider{
        height: 50vw;
        position: relative;
        div{
            height: 50vw;
        }
    }
    .slick-dotted.slick-slider{
        margin-bottom: unset;
    }
    .slick-dots{
        height: 4px;
        text-align: right;
        position: absolute;
        bottom: -10px;
        right: 32px;
        @media(min-width:$middle){
            height: 16px;
            bottom: -44px;
        }
        li{
            height: 4px;
            margin: unset;
            width: 10px;
            @media(min-width:$middle){
                height: 16px;
                width: 36px;
            }
            button{
                border-radius: 30px;
                background-color: #ffffff;
                width: 4px;
                height: 4px;
                padding: 2px;
                @media(min-width:$middle){
                    width: 16px;
                    height: 16px;
                    padding: 8px;
                }
            }
            #slick-slide-control00::before,
            #slick-slide-control01::before,
            #slick-slide-control02::before{
                display: none;
            }
        }
    } 
}

#bartender{
    padding-top: 80px;
    margin-bottom: 80px;
    position: relative;
    @media(min-width:$middle){
        padding-top: 160px;
        margin-bottom: unset;
    }
    .bartender_bg{
        font-size: 64rem;
        line-height: 100%;
        letter-spacing: 3.2px;
        color: #15161A;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        @media(min-width:$middle){
            font-size: 160rem;
            letter-spacing: 8px;
            right: unset;
            left: 0;
            transform: rotate(90deg) translate(60%,100%);
        }
    }
    .bartender_flex{
        display: flex;
        flex-direction: column;
        gap: 28px;
        @media(min-width:$middle){
            flex-direction: row-reverse;
            gap: 56px;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 4%;
        }
        &__right{
            padding: 0 4%;
            @media(min-width:$middle){
                padding: unset;
            }
            &__h2{
                display: inline-block;
                font-family: $ff_english;
                font-size: 24rem;
                line-height: 100%; 
                letter-spacing: 1.2px;
                padding: 0 16px 8px 0;
                margin-bottom: 16px;
                border-bottom: 1px solid #ffffff;
                @media(min-width:$middle){
                    font-size: 96rem;
                    letter-spacing: 4.8px;
                    padding: 0 40px 16px 0;
                    margin-bottom: 64px;
                }
            }
            &__image{
                position: relative;
                height: calc(187vw/$sp_percent);
                @media(min-width:$middle){
                    width: calc(467vw/$percent);
                    height: calc(560vw/$percent);
                }
                @media(min-width:1440px){
                    width: 467px;
                    height: 560px;
                }
            }
            &__image::before{
                content: "";
                display: block;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: #15161A;
                position: absolute;
                right: 8%;
                bottom: -11.4%;
            }
        }
        &__left{
            padding: 0 4%;
            @media(min-width:$middle){
                width: calc(467vw/$percent);
                padding: unset;
            }
            p{
                font-size: 14rem;
                line-height: 180%;
                letter-spacing: 0.7px;
                text-align: justify;
                @media(min-width:$middle){
                    font-size: 20rem;
                    letter-spacing: 1px;
                }
            }
            .space{
                line-height: 600%;
            }
        }
    }
}

#cocktail{
    padding-top: 80px;
    position: relative;
    margin-bottom: 72px;
    @media(min-width:$middle){
        padding-top: 200px;
        margin-bottom: 160px;
    }
    .cocktail_bg{
        font-size: 64rem;
        line-height: 100%;
        letter-spacing: 3.2px;
        color: #15161A;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        @media(min-width:$middle){
            font-size: 160rem;
            letter-spacing: 8px;
            transform: rotate(90deg) translate(70%,-90%);
        }
    }
    .cocktail_flex{
        display: flex;
        gap: 16px;
        @media(min-width:$middle){
            gap: 56px;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 4%;
        }
        &__left{
            &__h2{
                display: inline-block;
                font-family: $ff_english;
                font-size: 24rem;
                line-height: 100%; 
                letter-spacing: 1.2px;
                padding: 0 16px 8px 0;
                margin-left: 10%;
                margin-bottom: 16px;
                border-bottom: 1px solid #ffffff;
                @media(min-width:$middle){
                    font-size: 96rem;
                    letter-spacing: 4.8px;
                    padding: 0 40px 16px 0;
                    margin-bottom: 64px;
                }
            }
            &__image{
                position: relative;
                width: calc(150vw/$sp_percent);
                height: calc(180vw/$sp_percent);
                @media(min-width:$middle){
                    width: calc(467vw/$percent);
                    height: calc(560vw/$percent);
                }
                @media(min-width:1440px){
                    width: 467px;
                    height: 560px;
                }
                .sp_dl{
                    padding: 10%;
                    @media(min-width:$middle){
                        display: none;
                    }
                    dt{
                        font-size: 14rem;
                        margin-bottom: 8px;
                        font-weight: normal;
                        letter-spacing: 0.7px;
                    }
                    dd{
                        font-size: 10rem;
                        margin-bottom: 20px;
                        text-align: justify;
                        letter-spacing: 0.5px;
                    }
                }
            }
            &__image::before{
                content: "";
                display: block;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: #15161A;
                position: absolute;
                left: 7%;
                bottom: -5%;
            }
        }
        &__right{
            @media(min-width:$middle){
                width: calc(475vw/$percent);
                padding: unset;
            }
            &__dl{
                padding-right: 7%;
                dt{
                    font-size: 16rem;
                    margin-bottom: 14px;
                    font-weight: normal;
                    letter-spacing: 0.8px;
                    @media(min-width:$middle){
                        font-size: 24rem;
                        margin-bottom: 18px;
                        letter-spacing: 1.2px;
                    }
                }
                dd{
                    font-size: 14rem;
                    margin-bottom: 20px;
                    text-align: justify;
                    letter-spacing: 0.7px;
                    @media(min-width:$middle){
                        font-size: 20rem;
                        margin-bottom: 28px;
                        letter-spacing: 1px;
                    }
                }
                .bace{
                    display: none;
                    @media(min-width:$middle){
                        display: block;
                    }
                }
            }
            .btn_cocktail{
                text-align: right;
                padding-right: 7%;
                .btn{
                    font-size: 10rem;
                    letter-spacing: 0.5px;
                    margin-right: 32px;
                    display: inline-block;
                    position: relative;
                    @media(min-width:$middle){
                        font-size: 14rem;
                        margin-bottom: 18px;
                        letter-spacing: 0.7px;
                    }
                }
                .btn::after{
                    content: "";
                    display: block;
                    width: 24px;
                    border: 1px solid #ffffff;
                    position: absolute;
                    top: 50%;
                    right: -32px;
                    @media(min-width:$middle){
                        width: 48px;
                        top: calc(9vw/$percent);
                        width: calc(48vw/$percent);
                        right: calc(-56vw/$percent);
                    }
                }
            }
            
            
        }
    }
}

#menu{
    padding: 8px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images_door/city-5772121_1920.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
    @media(min-width:$pad){
        padding: 16px 0;
    }
    @media(min-width:$middle){
        margin-bottom: 160px;
    }
    h2{
        display: inline-block;
        font-family: $ff_english;
        font-size: 24rem;
        line-height: 100%; 
        letter-spacing: 1.2px;
        padding: 0 8px 8px;
        margin-bottom: 28px;
        border-bottom: 1px solid #ffffff;
        @media(min-width:$middle){
            font-size: 96rem;
            letter-spacing: 4.8px;
            padding: 0 40px 16px 0;
            margin-bottom: 64px;
        }
    }
    .menu_list{
        padding: 0 4%;
        max-width: calc(1200px*1.08);
        text-align: left;
        width: 287rem;
        margin: 0 auto;
        @media(min-width:$middle){
            display: flex;
            justify-content: center;
            gap: 114px;
            width: 100%;
            margin-bottom: 20px;
        }
        &__drink{
           margin-bottom: 40px;
           @media(min-width:$middle){
            width: 543rem;
            margin-bottom: unset;
           }
            h3{
                font-size: 20rem;
                margin-bottom: 18px;
                font-family: $ff_english;
                @media(min-width:$middle){
                    font-size: 40rem;
                    margin-bottom: 32px;
                    letter-spacing: 2px;
                }
            }
            .list_item{
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                padding: 4px 0;
                border-bottom: 1rem dashed #ffffff;
                @media(min-width:$middle){
                    margin-bottom: 24px;
                    padding: 8px 0;
                }
                p{
                    font-size: 10rem;
                    line-height: 100%;
                    @media(min-width:$middle){
                        font-size: 20rem;
                        letter-spacing: 1px;
                    }
                }
            } 
        }
        &__food{
            margin-bottom: 24px;
            @media(min-width:$middle){
                width: 543rem;
                margin-bottom: unset;
               }
            h3{
                font-size: 20rem;
                margin-bottom: 18px;
                font-family: $ff_english;
                @media(min-width:$middle){
                    font-size: 40rem;
                    margin-bottom: 32px;
                    letter-spacing: 2px;
                }
            }
            .list_item{
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                padding: 4px 0;
                border-bottom: 1rem dashed #ffffff;
                @media(min-width:$middle){
                    margin-bottom: 24px;
                    padding: 8px 0;
                }
                p{
                    font-size: 10rem;
                    line-height: 100%;
                    @media(min-width:$middle){
                        font-size: 20rem;
                        letter-spacing: 1px;
                    }
                }
            } 
        }
        
        
    }
    .btn_menu{
        padding: 0 4%;
        text-align: right;
        max-width: calc(1200px*1.08);
        width: 287rem;
        margin: 0 auto;
        @media(min-width:$middle){
            width: 100%;
        }
        .btn{
            font-size: 10rem;
            letter-spacing: 0.5px;
            display: inline-block;
            position: relative;
            margin-right: 32px;
            @media(min-width:$middle){
                font-size: 14rem;
                letter-spacing: 0.7px;
            }
        }
        .btn::after{
            content: "";
            display: block;
            width: 24px;
            border: 1px solid #ffffff;
            position: absolute;
            top: 50%;
            right: -32px;
            @media(min-width:$middle){
                width: 48px;
                top: calc(9vw/$percent);
                width: calc(48vw/$percent);
                right: calc(-56vw/$percent);
            }
        }
    }

}

#location{
    padding: 0 4%;
    text-align: center;
    h2{
        display: inline-block;
        font-family: $ff_english;
        font-size: 24rem;
        line-height: 100%; 
        letter-spacing: 1.2px;
        padding: 0 8px 8px;
        margin-bottom: 28px;
        border-bottom: 1px solid #ffffff;
        @media(min-width:$middle){
            font-size: 96rem;
            letter-spacing: 4.8px;
            padding: 0 40px 16px 0;
            margin-bottom: 64px;
        }
    }
    .location_flex{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto 80px;
        align-items: center;
        @media(min-width:$middle){
            flex-direction: row;
            justify-content: center;
            gap: 74px;
            margin: 0 auto 160px;
        }
        &__map{
            width: 287rem;
            height: 177rem;
            margin-bottom: 20px;
            @media(min-width:$pad){
                margin-bottom: 32px;
            }
            @media(min-width:$middle){
                width: 600rem;
                height: 370rem;
            }
            iframe{
                width: 287rem;
                height: 177rem;
                @media(min-width:$middle){
                    width: 600rem;
                    height: 370rem;
                }
            }
        }
        &__text{
            width: 287rem;
            @media(min-width:$middle){
                width: 527rem;
            }
            &__dl{
                text-align: left;
                dt{
                    font-size: 16rem;
                    letter-spacing: 0.8px;
                    line-height: 100%;
                    margin-bottom: 8px;
                    font-weight: normal;
                    @media(min-width:$pad){
                        margin-bottom: 16px;
                    }
                    @media(min-width:$middle){
                        font-size: 24rem;
                    }
                }
                dd{
                    font-size: 12rem;
                    letter-spacing: 0.6px;
                    line-height: 120%;
                    margin-bottom: 16px;
                    @media(min-width:$pad){
                        margin-bottom: 32px;
                    }
                    @media(min-width:$middle){
                        font-size: 20rem;
                    }

                }
                &__info{
                    display: flex;
                    gap: 24px;
                }
            }
        }
    }
}

footer{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images_door/footer.jpg);
    background-position: center;
    background-size: cover;
    .footer_inner{
        padding: 20px 4% 12px;
        @media(min-width:$middle){
            padding: 40px 4% 12px;
        }
        h1{
            width: 180px;
            margin-bottom: 40rem;
            @media(min-width:$middle){
                width: 20%;
                margin-bottom: 80rem;
            }
        }
        .footer_menu{
            display: flex;
            flex-wrap: wrap;
            gap: 8rem 24rem;
            justify-content: center;
            margin-bottom: 20rem;
            @media(min-width:$middle){
                gap: 74rem;
            }
            li,a{
                font-size: 14rem;
                letter-spacing: 0.7px;
                font-family: $ff_english;
                @media(min-width:$middle){
                    font-size: 20rem;
                    letter-spacing: 1px;
                }
            }
        }
        .footer_menu_policy{
            display: flex;
            gap: 24px;
            justify-content: center;
            margin-bottom: 20rem;
            li,a{
                font-size: 10rem;
                @media(min-width:$middle){
                    font-size: 12rem;
                }
            }
        }
        .copy{
            text-align: center;
            p{
                font-size: 10rem;
                font-family: $ff_english;

            }
        }
    }
}

// テキストアニメーション

.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
@keyframes text_anime_on {
  0% {opacity:0;}
  100% {opacity:1;}
}

// テキストアニメーション
.appearFade{
    opacity: 0;
}
.appearFade.fade{
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.contact_fixed{
    position: fixed;
    bottom: 16px;
    left: 4%;
    z-index: 1;
    @media(min-width:$middle){
        bottom: 32px;
        width: 40%;
    }
    .online{
        font-size: 14px;
        letter-spacing: 0.7px;
        margin-bottom: 14px;
        position: relative;
        @media(min-width:$middle){
            font-size: calc(32vw/$percent);
            letter-spacing: calc(1.6vw/$percent);
            margin-bottom: calc(32vw/$percent);
        }
    }
    .online:hover{
        opacity: 0.7;
    }
    .online::after{
        content: "";
        display: block;
        width: 40px;
        border: 0.5px solid #ffffff;
        position: absolute;
        top: 50%;
        right: -40px;
        @media(min-width:$middle){
            width: calc(88vw/$percent);
            right: 0;
        }
    }
    .tel{
        display: inline-block;
        font-size: 28px;
        letter-spacing: 1.4px;
        font-weight: 300;
        margin-left: 28px;
        border-bottom: 0.5px solid #ffffff;
        position: relative;
        @media(min-width:$middle){
            font-size: calc(64vw/$percent);
            letter-spacing: calc(3.2vw/$percent);
            margin-left: 12%;
        }
    }
    .tel::before{
        content: "";
        display: block;
        background-image: url(../images_door/iconamoon_phone-thin.png);
        background-size: contain;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 6px;
        left: -36px;
        @media(min-width:$middle){
            width: 4vw;
            height: 4vw;
            left: -16%;
        }
    }
}

// news/blogページ
.row{
    header{
        height: 400px;
        margin-bottom: 40px;
        position: relative;
        @media(min-width:$middle){
            height: 600rem;
            margin-bottom: 80px;
        }
        .mainvisual::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(270deg, rgba(21, 22, 26, 0.00) 7%, #15161A 100%);
        }
    }
    main{
        padding: 0 4%;
        .breadcrumb{
            margin-bottom: 40px;
            @media(min-width:$middle){
                margin-bottom: 80px;
            }
            li,a{
                font-size: 10rem;
                display: inline-block;
                margin-right: 4px;
                letter-spacing: 0.5px;
                @media(min-width:$middle){
                    font-size: 16rem;
                    margin-right: 8px;
                    letter-spacing: 0.8px;
                }
            }
        }
        .news{
            max-width: 1200px;
            margin: 0 auto 160px;
            text-align: center;
            .heading{
                font-size: 48rem;
                letter-spacing: 2.4px;
                margin-bottom: 20px;
                font-family: $ff_english;
                @media(min-width:$middle){
                    font-size: 96rem;
                    margin-bottom: 40px;
                    letter-spacing: 4.8px;
                }
            }
            h2{
                font-size: 12rem;
                margin-bottom: 80px;
                letter-spacing: 0.6px;
                @media(min-width:$middle){
                    font-size: 14rem;
                    margin-bottom: 160px;
                    letter-spacing: 0.7px;
                }
            }
            .blog_wrapper {
                max-width: 1200px;
                margin: 0 auto;
                @media(min-width:$middle){
                    display: flex;
                    gap: 44px;
                }
                &__left {
                    // width: 100%;
                    ul {
                        @media(min-width:$middle){
                            margin-bottom: 40px;
                        }
                        li.blog_card {
                            margin-bottom: 40px;
                            @media(min-width:$middle){
                                display: flex;
                                margin-bottom: 80rem;
                            }
                            .image {
                                width: 60%;
                                height: 128rem;
                                margin-bottom: 16px;
                                @media(min-width:$middle){
                                    margin-bottom: unset;
                                    width: 205rem;
                                    height: 256rem;
                                }
                            }
                            .text_box {
                                text-align: left;
                                @media(min-width:$middle){
                                    width: 659rem;
                                }
                                &__inner{
                                    padding: 4px;
                                    background: #15161A;
                                    @media(min-width:$middle){
                                        margin-top: 24rem;
                                        padding: 8px 8px 8px 24rem;
                                        background: #15161A;
                                    }
                                    p.category {
                                        font-size: 12rem;
                                        font-weight: 300;
                                        letter-spacing: 0.6px;
                                        font-family: $ff_english;
                                        margin-bottom: 4px;
                                        @media(min-width:$middle){
                                            font-size: 16rem;
                                            letter-spacing: 0.8px;
                                            margin-bottom: 8px;
                                        }
                                        
                                    }
                                    h3 {
                                        font-size: 16rem;
                                        line-height: 100%;
                                        letter-spacing: 0.8px;
                                        margin-bottom: 8px;
                                        @media(min-width:$middle){
                                            font-size: 24px;
                                            letter-spacing: 1.2px;
                                            margin-bottom: 16px;
                                        }  
                                    }
                                    p.content {
                                        text-align: justify;
                                        font-size: 12rem;
                                        line-height: 100%;
                                        letter-spacing: 0.6px;
                                        margin-bottom: 4px;
                                        @media(min-width:$middle){
                                            font-size: 16rem;
                                            line-height: 100%;
                                            letter-spacing: 0.8px;
                                            margin-bottom: 8px;
                                    }
                                        
                                    }
                                    .opution {
                                        display: flex;
                                        gap: 14rem;
                                        justify-content: right;
                                        @media(min-width:$middle){
                                            gap: 28rem;
                                        }
                                        a.tag {
                                            font-size: 10rem;
                                            font-weight: 300;
                                            line-height: 100%;
                                            letter-spacing: 0.5px;
                                            @media(min-width:$middle){
                                                font-size: 14rem;
                                                letter-spacing: 0.7px;
                                            }
                                            
                                        }
                                        time {
                                            font-size: 10rem;
                                            font-weight: 300;
                                            line-height: 100%;
                                            letter-spacing: 0.5px;
                                            @media(min-width:$middle){
                                                font-family: $ff_english;
                                                font-size: 14rem;
                                                letter-spacing: 0.7px;
                                            }
                                        }
                                    }
                                }  
                            }
                        }
                    }
                    .page_nation {
                        text-align: center;
                        margin-bottom: 80px;
                        @media(min-width:$middle){
                            margin-bottom: unset;
                        }
                        a {
                            display: inline-block;
                            font-size: 10rem;
                            margin-right: 24rem;
                            font-weight: 300;
                            line-height: 100%;
                            letter-spacing: 0.1px;
                            @media(min-width:$middle){
                                font-size: 20rem;
                                margin-right: 48rem;
                                letter-spacing: 1px;
                            }
                            
                        }
                        a:last-child{
                            margin-right: unset;
                        }
                    }
                }
                .blog_wrapper__right {
                    &__heading {
                        display: flex;
                        gap: 8px;
                        padding-bottom: 8px;
                        border-bottom: 1px solid #ffffff;
                        align-items: baseline;
                        margin-bottom: 40px;
                        h3 {
                            font-family: $ff_english;
                            font-size: 36rem;
                            line-height: 100%;
                            letter-spacing: 1.2px;
                            @media(min-width:$middle){
                                font-size: 48rem;
                                letter-spacing: 2.4px;
                            }
                        }
                        span {
                            font-size: 12rem;
                            font-weight: 300;
                            line-height: 100%;
                            letter-spacing: 0.6px;
                            @media(min-width:$middle){
                                font-size: 14rem;;
                                letter-spacing: 0.7px;
                            }
                        }
                    }
                    &__pick_up {
                        .heading {
                            display: flex;
                            gap: 8px;
                            align-items: baseline;
                            margin-bottom: 32px;
                            h4 {
                                font-family: $ff_english;
                                font-size: 18rem;
                                line-height: 100%;
                                letter-spacing: 0.8px;
                                @media(min-width:$middle){
                                    font-size: 20rem;
                                    letter-spacing: 2px;
                                }
                            }
                            span {
                                font-size: 10rem;
                                font-weight: 300;
                                line-height: 100%;
                                letter-spacing: 0.1px;                               
                            }
                        }
                        ul {
                            margin-bottom: 40px;
                            li.blog_card {
                                .image {
                                    width: 60%;
                                    height: 128rem;
                                    margin-bottom: 16px;
                                    @media(min-width:$middle){
                                        width: 200rem;
                                        height: 124rem;
                                        margin-bottom: 16px;
                                    }
                                }
                                .text_box {
                                    text-align: left;
                                    margin-bottom: 24px;
                                    h3 {
                                        font-size: 16rem;
                                        letter-spacing: 0.8px;
                                        margin-bottom: 8px;
                                    }
                                    p.content {
                                        font-size: 12rem;
                                        letter-spacing: 0.6px;
                                        margin-bottom: 8px;
                                    }
                                    .opution {
                                        display: flex;
                                        justify-content: right;
                                        gap: 14px;
                                        @media(min-width:$middle){
                                            gap: 28rem;
                                        }
                                        a.tag {
                                            font-size: 10rem;
                                            font-weight: 300;
                                            line-height: 100%;
                                            letter-spacing: 0.5px;
                                            
                                        }
                                        time {
                                            font-family: $ff_english;
                                            font-size: 10rem;
                                            font-weight: 300;
                                            line-height: 100%;
                                            letter-spacing: 0.5px;                         
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &__keyword {
                        .heading {
                            display: flex;
                            gap: 8px;
                            align-items: baseline;
                            margin-bottom: 32px;
                            h4 {
                                font-family: $ff_english;
                                font-size: 18rem;
                                line-height: 100%;
                                letter-spacing: 0.8px;
                                @media(min-width:$middle){
                                    font-size: 20rem;
                                    letter-spacing: 2px;
                                }
                            }
                            span {
                                font-size: 10rem;
                                font-weight: 300;
                                line-height: 100%;
                                letter-spacing: 0.1px;
                            }
                        }
                        .tag_area {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 16px 24px;
                            a.tag {
                                font-size: 16rem;
                                font-weight: 300;
                                line-height: 100%;
                                letter-spacing: 0.8px;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}
// news/blogページ