html {
  font-size: 0.2666666667vw;
}
@media (min-width: 960px) {
  html {
    font-size: 0.0694444444vw;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 1px;
  }
}

body {
  color: #ffffff;
  font-family: "Zen Kaku Gothic New", sans-serif;
  background-color: #0B0C10;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: block;
  line-height: 100%;
}

a:hover {
  opacity: 0.7;
}

header {
  height: 607px;
  position: relative;
}
@media (min-width: 960px) {
  header {
    height: 62vw;
  }
}
header .mainvisual {
  width: 100%;
  height: 100%;
}
header .mainvisual::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(270deg, rgba(21, 22, 26, 0) 7%, #15161A 100%);
}
header .header_top {
  width: 100%;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header .header_top h1 {
  margin-top: 20px;
  width: 180px;
}
@media (min-width: 960px) {
  header .header_top h1 {
    width: 20%;
    margin-top: 40px;
  }
}
header .header_top nav {
  display: none;
}
@media (min-width: 960px) {
  header .header_top nav {
    display: block;
    width: 68.1944444444vw;
  }
  header .header_top nav ul {
    text-align: right;
    margin-top: 65px;
  }
  header .header_top nav ul li, header .header_top nav ul a {
    display: inline-block;
    margin-right: 4%;
    font-size: 32rem;
    font-family: "Cormorant Garamond", serif;
  }
  header .header_top nav ul li:last-child,
  header .header_top nav ul a:last-child {
    margin-right: unset;
  }
}
header .header_top .humburger {
  width: 29px;
  height: 19px;
  margin-top: 34px;
  cursor: pointer;
}
@media (min-width: 960px) {
  header .header_top .humburger {
    display: none;
  }
}
header .header_top .humburger span {
  display: block;
  content: "";
  width: 29px;
  border: 1px solid #FFFFFF;
  transition: 0.5s;
}
header .header_top .humburger span:nth-child(1),
header .header_top .humburger span:nth-child(2) {
  margin-bottom: 8px;
}
header .header_top .humburger.open span:nth-child(1) {
  transform: translate(0, 5px) rotate(315deg);
}
header .header_top .humburger.open span:nth-child(2) {
  display: none;
}
header .header_top .humburger.open span:nth-child(3) {
  transform: translate(0, -5px) rotate(-315deg);
}
header .catch_copy {
  width: 45%;
  position: absolute;
  top: 266px;
  left: 4%;
}
@media (min-width: 600px) {
  header .catch_copy {
    top: 200px;
  }
}
@media (min-width: 960px) {
  header .catch_copy {
    top: 240px;
  }
}
header .catch_copy p {
  font-family: "Cormorant Garamond", serif;
  font-size: 10vw;
  font-style: italic;
  line-height: 120%;
  letter-spacing: 2px;
  font-weight: 600;
}
@media (min-width: 600px) {
  header .catch_copy p {
    font-size: 8vw;
  }
}
@media (min-width: 960px) {
  header .catch_copy p {
    font-size: 96rem;
  }
}
header .contact_area {
  position: absolute;
  bottom: 16px;
  left: 4%;
}
@media (min-width: 960px) {
  header .contact_area {
    bottom: 32px;
    width: 40%;
  }
}
header .contact_area .online {
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-bottom: 14px;
  position: relative;
}
@media (min-width: 960px) {
  header .contact_area .online {
    font-size: 2.2222222222vw;
    letter-spacing: 0.1111111111vw;
    margin-bottom: 2.2222222222vw;
  }
}
header .contact_area .online:hover {
  opacity: 0.7;
}
header .contact_area .online::after {
  content: "";
  display: block;
  width: 40px;
  border: 0.5px solid #ffffff;
  position: absolute;
  top: 50%;
  right: -40px;
}
@media (min-width: 960px) {
  header .contact_area .online::after {
    width: 6.1111111111vw;
    right: 0;
  }
}
header .contact_area .tel {
  display: inline-block;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: 300;
  margin-left: 28px;
  border-bottom: 0.5px solid #ffffff;
  position: relative;
}
@media (min-width: 960px) {
  header .contact_area .tel {
    font-size: 4.4444444444vw;
    letter-spacing: 0.2222222222vw;
    margin-left: 12%;
  }
}
header .contact_area .tel::before {
  content: "";
  display: block;
  background-image: url(../images_door/iconamoon_phone-thin.png);
  background-size: contain;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  left: -36px;
}
@media (min-width: 960px) {
  header .contact_area .tel::before {
    width: 4vw;
    height: 4vw;
    left: -16%;
  }
}
header .news {
  position: absolute;
  bottom: -152px;
  left: 4%;
  background-color: #15161A;
  padding: 8px 16px;
  width: 96%;
}
@media (min-width: 600px) {
  header .news {
    width: 44%;
    bottom: 16px;
    left: unset;
    right: 0;
  }
}
@media (min-width: 600px) and (min-width: 960px) {
  header .news {
    bottom: 32px;
  }
}
@media (min-width: 600px) and (min-width: 1280px) {
  header .news {
    padding: 20px 40px;
  }
}
header .news__heading {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  header .news__heading {
    gap: 1.6666666667vw;
  }
}
header .news__heading h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  letter-spacing: 1.2px;
  padding-bottom: 8px;
  line-height: 100%;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 960px) {
  header .news__heading h3 {
    font-size: 2.2222222222vw;
    letter-spacing: 0.2222222222vw;
    margin-bottom: 1.1111111111vw;
  }
}
header .news__heading p {
  display: inline-block;
  font-size: 10px;
  letter-spacing: 0.5px;
  margin: 14px 0 8px;
  line-height: 100%;
  position: relative;
}
@media (min-width: 960px) {
  header .news__heading p {
    font-size: 0.9722222222vw;
  }
}
header .news__heading p::after {
  content: "";
  display: block;
  width: 24px;
  border: 1px solid #ffffff;
  position: absolute;
  top: 50%;
  right: -32px;
}
@media (min-width: 960px) {
  header .news__heading p::after {
    top: 0.625vw;
    width: 3.3333333333vw;
    right: -3.8888888889vw;
  }
}
header .news__dl .news_list {
  margin-bottom: 18px;
  display: flex;
  gap: 16px;
}
header .news__dl .news_list__date {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (min-width: 960px) {
  header .news__dl .news_list__date {
    font-size: 1.1111111111vw;
    letter-spacing: 0.1111111111vw;
    margin-bottom: 1.1111111111vw;
  }
}
header .news__dl .news_list__title {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 100%;
}
@media (min-width: 960px) {
  header .news__dl .news_list__title {
    font-size: 1.1111111111vw;
    letter-spacing: 0.1111111111vw;
    margin-bottom: 1.1111111111vw;
  }
}
header .news__dl .news_list:last-child {
  margin-bottom: unset;
}

.sp_nav {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(21, 22, 26, 0.95);
}
.sp_nav ul {
  padding: 100px 4% 0;
}
@media (min-width: 600px) {
  .sp_nav ul {
    padding: 160px 4% 0;
  }
}
.sp_nav ul a {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  margin-bottom: 16px;
}

.sp_nav.open {
  display: block;
  animation-name: fadeUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#about {
  margin-top: 232px;
  margin-bottom: 80px;
  padding: 76px 0;
  background: url(../images_door/door_bg.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 32px 16px #0B0C10 inset;
}
@media (min-width: 960px) {
  #about {
    margin-top: 160px;
    margin-bottom: unset;
    padding: 144px 0;
  }
}
#about .about_text {
  text-align: center;
  padding: 0 4%;
}
#about .about_text p {
  font-size: 14rem;
  color: #FFF;
  line-height: 300%;
  letter-spacing: 0.7px;
}
@media (min-width: 960px) {
  #about .about_text p {
    color: #FFF;
    font-size: 20rem;
    letter-spacing: 1px;
  }
}

#gallery {
  padding-top: 80px;
  margin-bottom: 80px;
  position: relative;
}
@media (min-width: 960px) {
  #gallery {
    padding-top: 160px;
    margin-bottom: unset;
  }
}
#gallery h2 {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  font-size: 24rem;
  line-height: 100%;
  letter-spacing: 1.2px;
  padding: 0 16px 8px 0;
  margin-bottom: 16px;
  margin-left: 4%;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 960px) {
  #gallery h2 {
    font-size: 96rem;
    letter-spacing: 4.8px;
    padding: 0 40px 16px 0;
    margin-bottom: 64px;
  }
}
#gallery .gallery_bg {
  font-size: 64rem;
  line-height: 100%;
  letter-spacing: 3.2px;
  color: #15161A;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 960px) {
  #gallery .gallery_bg {
    font-size: 160rem;
    letter-spacing: 8px;
  }
}
#gallery .gallery_slider {
  height: 50vw;
  position: relative;
}
#gallery .gallery_slider div {
  height: 50vw;
}
#gallery .slick-dotted.slick-slider {
  margin-bottom: unset;
}
#gallery .slick-dots {
  height: 4px;
  text-align: right;
  position: absolute;
  bottom: -10px;
  right: 32px;
}
@media (min-width: 960px) {
  #gallery .slick-dots {
    height: 16px;
    bottom: -44px;
  }
}
#gallery .slick-dots li {
  height: 4px;
  margin: unset;
  width: 10px;
}
@media (min-width: 960px) {
  #gallery .slick-dots li {
    height: 16px;
    width: 36px;
  }
}
#gallery .slick-dots li button {
  border-radius: 30px;
  background-color: #ffffff;
  width: 4px;
  height: 4px;
  padding: 2px;
}
@media (min-width: 960px) {
  #gallery .slick-dots li button {
    width: 16px;
    height: 16px;
    padding: 8px;
  }
}
#gallery .slick-dots li #slick-slide-control00::before,
#gallery .slick-dots li #slick-slide-control01::before,
#gallery .slick-dots li #slick-slide-control02::before {
  display: none;
}

#bartender {
  padding-top: 80px;
  margin-bottom: 80px;
  position: relative;
}
@media (min-width: 960px) {
  #bartender {
    padding-top: 160px;
    margin-bottom: unset;
  }
}
#bartender .bartender_bg {
  font-size: 64rem;
  line-height: 100%;
  letter-spacing: 3.2px;
  color: #15161A;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 960px) {
  #bartender .bartender_bg {
    font-size: 160rem;
    letter-spacing: 8px;
    right: unset;
    left: 0;
    transform: rotate(90deg) translate(60%, 100%);
  }
}
#bartender .bartender_flex {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (min-width: 960px) {
  #bartender .bartender_flex {
    flex-direction: row-reverse;
    gap: 56px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
  }
}
#bartender .bartender_flex__right {
  padding: 0 4%;
}
@media (min-width: 960px) {
  #bartender .bartender_flex__right {
    padding: unset;
  }
}
#bartender .bartender_flex__right__h2 {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  font-size: 24rem;
  line-height: 100%;
  letter-spacing: 1.2px;
  padding: 0 16px 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 960px) {
  #bartender .bartender_flex__right__h2 {
    font-size: 96rem;
    letter-spacing: 4.8px;
    padding: 0 40px 16px 0;
    margin-bottom: 64px;
  }
}
#bartender .bartender_flex__right__image {
  position: relative;
  height: 49.8666666667vw;
}
@media (min-width: 960px) {
  #bartender .bartender_flex__right__image {
    width: 32.4305555556vw;
    height: 38.8888888889vw;
  }
}
@media (min-width: 1440px) {
  #bartender .bartender_flex__right__image {
    width: 467px;
    height: 560px;
  }
}
#bartender .bartender_flex__right__image::before {
  content: "";
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #15161A;
  position: absolute;
  right: 8%;
  bottom: -11.4%;
}
#bartender .bartender_flex__left {
  padding: 0 4%;
}
@media (min-width: 960px) {
  #bartender .bartender_flex__left {
    width: 32.4305555556vw;
    padding: unset;
  }
}
#bartender .bartender_flex__left p {
  font-size: 14rem;
  line-height: 180%;
  letter-spacing: 0.7px;
  text-align: justify;
}
@media (min-width: 960px) {
  #bartender .bartender_flex__left p {
    font-size: 20rem;
    letter-spacing: 1px;
  }
}
#bartender .bartender_flex__left .space {
  line-height: 600%;
}

#cocktail {
  padding-top: 80px;
  position: relative;
  margin-bottom: 72px;
}
@media (min-width: 960px) {
  #cocktail {
    padding-top: 200px;
    margin-bottom: 160px;
  }
}
#cocktail .cocktail_bg {
  font-size: 64rem;
  line-height: 100%;
  letter-spacing: 3.2px;
  color: #15161A;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 960px) {
  #cocktail .cocktail_bg {
    font-size: 160rem;
    letter-spacing: 8px;
    transform: rotate(90deg) translate(70%, -90%);
  }
}
#cocktail .cocktail_flex {
  display: flex;
  gap: 16px;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex {
    gap: 56px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
  }
}
#cocktail .cocktail_flex__left__h2 {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  font-size: 24rem;
  line-height: 100%;
  letter-spacing: 1.2px;
  padding: 0 16px 8px 0;
  margin-left: 10%;
  margin-bottom: 16px;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__left__h2 {
    font-size: 96rem;
    letter-spacing: 4.8px;
    padding: 0 40px 16px 0;
    margin-bottom: 64px;
  }
}
#cocktail .cocktail_flex__left__image {
  position: relative;
  width: 40vw;
  height: 48vw;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__left__image {
    width: 32.4305555556vw;
    height: 38.8888888889vw;
  }
}
@media (min-width: 1440px) {
  #cocktail .cocktail_flex__left__image {
    width: 467px;
    height: 560px;
  }
}
#cocktail .cocktail_flex__left__image .sp_dl {
  padding: 10%;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__left__image .sp_dl {
    display: none;
  }
}
#cocktail .cocktail_flex__left__image .sp_dl dt {
  font-size: 14rem;
  margin-bottom: 8px;
  font-weight: normal;
  letter-spacing: 0.7px;
}
#cocktail .cocktail_flex__left__image .sp_dl dd {
  font-size: 10rem;
  margin-bottom: 20px;
  text-align: justify;
  letter-spacing: 0.5px;
}
#cocktail .cocktail_flex__left__image::before {
  content: "";
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #15161A;
  position: absolute;
  left: 7%;
  bottom: -5%;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__right {
    width: 32.9861111111vw;
    padding: unset;
  }
}
#cocktail .cocktail_flex__right__dl {
  padding-right: 7%;
}
#cocktail .cocktail_flex__right__dl dt {
  font-size: 16rem;
  margin-bottom: 14px;
  font-weight: normal;
  letter-spacing: 0.8px;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__right__dl dt {
    font-size: 24rem;
    margin-bottom: 18px;
    letter-spacing: 1.2px;
  }
}
#cocktail .cocktail_flex__right__dl dd {
  font-size: 14rem;
  margin-bottom: 20px;
  text-align: justify;
  letter-spacing: 0.7px;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__right__dl dd {
    font-size: 20rem;
    margin-bottom: 28px;
    letter-spacing: 1px;
  }
}
#cocktail .cocktail_flex__right__dl .bace {
  display: none;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__right__dl .bace {
    display: block;
  }
}
#cocktail .cocktail_flex__right .btn_cocktail {
  text-align: right;
  padding-right: 7%;
}
#cocktail .cocktail_flex__right .btn_cocktail .btn {
  font-size: 10rem;
  letter-spacing: 0.5px;
  margin-right: 32px;
  display: inline-block;
  position: relative;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__right .btn_cocktail .btn {
    font-size: 14rem;
    margin-bottom: 18px;
    letter-spacing: 0.7px;
  }
}
#cocktail .cocktail_flex__right .btn_cocktail .btn::after {
  content: "";
  display: block;
  width: 24px;
  border: 1px solid #ffffff;
  position: absolute;
  top: 50%;
  right: -32px;
}
@media (min-width: 960px) {
  #cocktail .cocktail_flex__right .btn_cocktail .btn::after {
    width: 48px;
    top: 0.625vw;
    width: 3.3333333333vw;
    right: -3.8888888889vw;
  }
}

#menu {
  padding: 8px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images_door/city-5772121_1920.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}
@media (min-width: 600px) {
  #menu {
    padding: 16px 0;
  }
}
@media (min-width: 960px) {
  #menu {
    margin-bottom: 160px;
  }
}
#menu h2 {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  font-size: 24rem;
  line-height: 100%;
  letter-spacing: 1.2px;
  padding: 0 8px 8px;
  margin-bottom: 28px;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 960px) {
  #menu h2 {
    font-size: 96rem;
    letter-spacing: 4.8px;
    padding: 0 40px 16px 0;
    margin-bottom: 64px;
  }
}
#menu .menu_list {
  padding: 0 4%;
  max-width: 1296px;
  text-align: left;
  width: 287rem;
  margin: 0 auto;
}
@media (min-width: 960px) {
  #menu .menu_list {
    display: flex;
    justify-content: center;
    gap: 114px;
    width: 100%;
    margin-bottom: 20px;
  }
}
#menu .menu_list__drink {
  margin-bottom: 40px;
}
@media (min-width: 960px) {
  #menu .menu_list__drink {
    width: 543rem;
    margin-bottom: unset;
  }
}
#menu .menu_list__drink h3 {
  font-size: 20rem;
  margin-bottom: 18px;
  font-family: "Cormorant Garamond", serif;
}
@media (min-width: 960px) {
  #menu .menu_list__drink h3 {
    font-size: 40rem;
    margin-bottom: 32px;
    letter-spacing: 2px;
  }
}
#menu .menu_list__drink .list_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 4px 0;
  border-bottom: 1rem dashed #ffffff;
}
@media (min-width: 960px) {
  #menu .menu_list__drink .list_item {
    margin-bottom: 24px;
    padding: 8px 0;
  }
}
#menu .menu_list__drink .list_item p {
  font-size: 10rem;
  line-height: 100%;
}
@media (min-width: 960px) {
  #menu .menu_list__drink .list_item p {
    font-size: 20rem;
    letter-spacing: 1px;
  }
}
#menu .menu_list__food {
  margin-bottom: 24px;
}
@media (min-width: 960px) {
  #menu .menu_list__food {
    width: 543rem;
    margin-bottom: unset;
  }
}
#menu .menu_list__food h3 {
  font-size: 20rem;
  margin-bottom: 18px;
  font-family: "Cormorant Garamond", serif;
}
@media (min-width: 960px) {
  #menu .menu_list__food h3 {
    font-size: 40rem;
    margin-bottom: 32px;
    letter-spacing: 2px;
  }
}
#menu .menu_list__food .list_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 4px 0;
  border-bottom: 1rem dashed #ffffff;
}
@media (min-width: 960px) {
  #menu .menu_list__food .list_item {
    margin-bottom: 24px;
    padding: 8px 0;
  }
}
#menu .menu_list__food .list_item p {
  font-size: 10rem;
  line-height: 100%;
}
@media (min-width: 960px) {
  #menu .menu_list__food .list_item p {
    font-size: 20rem;
    letter-spacing: 1px;
  }
}
#menu .btn_menu {
  padding: 0 4%;
  text-align: right;
  max-width: 1296px;
  width: 287rem;
  margin: 0 auto;
}
@media (min-width: 960px) {
  #menu .btn_menu {
    width: 100%;
  }
}
#menu .btn_menu .btn {
  font-size: 10rem;
  letter-spacing: 0.5px;
  display: inline-block;
  position: relative;
  margin-right: 32px;
}
@media (min-width: 960px) {
  #menu .btn_menu .btn {
    font-size: 14rem;
    letter-spacing: 0.7px;
  }
}
#menu .btn_menu .btn::after {
  content: "";
  display: block;
  width: 24px;
  border: 1px solid #ffffff;
  position: absolute;
  top: 50%;
  right: -32px;
}
@media (min-width: 960px) {
  #menu .btn_menu .btn::after {
    width: 48px;
    top: 0.625vw;
    width: 3.3333333333vw;
    right: -3.8888888889vw;
  }
}

#location {
  padding: 0 4%;
  text-align: center;
}
#location h2 {
  display: inline-block;
  font-family: "Cormorant Garamond", serif;
  font-size: 24rem;
  line-height: 100%;
  letter-spacing: 1.2px;
  padding: 0 8px 8px;
  margin-bottom: 28px;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 960px) {
  #location h2 {
    font-size: 96rem;
    letter-spacing: 4.8px;
    padding: 0 40px 16px 0;
    margin-bottom: 64px;
  }
}
#location .location_flex {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 80px;
  align-items: center;
}
@media (min-width: 960px) {
  #location .location_flex {
    flex-direction: row;
    justify-content: center;
    gap: 74px;
    margin: 0 auto 160px;
  }
}
#location .location_flex__map {
  width: 287rem;
  height: 177rem;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  #location .location_flex__map {
    margin-bottom: 32px;
  }
}
@media (min-width: 960px) {
  #location .location_flex__map {
    width: 600rem;
    height: 370rem;
  }
}
#location .location_flex__map iframe {
  width: 287rem;
  height: 177rem;
}
@media (min-width: 960px) {
  #location .location_flex__map iframe {
    width: 600rem;
    height: 370rem;
  }
}
#location .location_flex__text {
  width: 287rem;
}
@media (min-width: 960px) {
  #location .location_flex__text {
    width: 527rem;
  }
}
#location .location_flex__text__dl {
  text-align: left;
}
#location .location_flex__text__dl dt {
  font-size: 16rem;
  letter-spacing: 0.8px;
  line-height: 100%;
  margin-bottom: 8px;
  font-weight: normal;
}
@media (min-width: 600px) {
  #location .location_flex__text__dl dt {
    margin-bottom: 16px;
  }
}
@media (min-width: 960px) {
  #location .location_flex__text__dl dt {
    font-size: 24rem;
  }
}
#location .location_flex__text__dl dd {
  font-size: 12rem;
  letter-spacing: 0.6px;
  line-height: 120%;
  margin-bottom: 16px;
}
@media (min-width: 600px) {
  #location .location_flex__text__dl dd {
    margin-bottom: 32px;
  }
}
@media (min-width: 960px) {
  #location .location_flex__text__dl dd {
    font-size: 20rem;
  }
}
#location .location_flex__text__dl__info {
  display: flex;
  gap: 24px;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images_door/footer.jpg);
  background-position: center;
  background-size: cover;
}
footer .footer_inner {
  padding: 20px 4% 12px;
}
@media (min-width: 960px) {
  footer .footer_inner {
    padding: 40px 4% 12px;
  }
}
footer .footer_inner h1 {
  width: 180px;
  margin-bottom: 40rem;
}
@media (min-width: 960px) {
  footer .footer_inner h1 {
    width: 20%;
    margin-bottom: 80rem;
  }
}
footer .footer_inner .footer_menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem 24rem;
  justify-content: center;
  margin-bottom: 20rem;
}
@media (min-width: 960px) {
  footer .footer_inner .footer_menu {
    gap: 74rem;
  }
}
footer .footer_inner .footer_menu li, footer .footer_inner .footer_menu a {
  font-size: 14rem;
  letter-spacing: 0.7px;
  font-family: "Cormorant Garamond", serif;
}
@media (min-width: 960px) {
  footer .footer_inner .footer_menu li, footer .footer_inner .footer_menu a {
    font-size: 20rem;
    letter-spacing: 1px;
  }
}
footer .footer_inner .footer_menu_policy {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 20rem;
}
footer .footer_inner .footer_menu_policy li, footer .footer_inner .footer_menu_policy a {
  font-size: 10rem;
}
@media (min-width: 960px) {
  footer .footer_inner .footer_menu_policy li, footer .footer_inner .footer_menu_policy a {
    font-size: 12rem;
  }
}
footer .footer_inner .copy {
  text-align: center;
}
footer .footer_inner .copy p {
  font-size: 10rem;
  font-family: "Cormorant Garamond", serif;
}

.eachTextAnime span {
  opacity: 0;
}

.eachTextAnime.appeartext span {
  animation: text_anime_on 1s ease-out forwards;
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appearFade {
  opacity: 0;
}

.appearFade.fade {
  opacity: 0;
  animation-name: fadeUp;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.contact_fixed {
  position: fixed;
  bottom: 16px;
  left: 4%;
  z-index: 1;
}
@media (min-width: 960px) {
  .contact_fixed {
    bottom: 32px;
    width: 40%;
  }
}
.contact_fixed .online {
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-bottom: 14px;
  position: relative;
}
@media (min-width: 960px) {
  .contact_fixed .online {
    font-size: 2.2222222222vw;
    letter-spacing: 0.1111111111vw;
    margin-bottom: 2.2222222222vw;
  }
}
.contact_fixed .online:hover {
  opacity: 0.7;
}
.contact_fixed .online::after {
  content: "";
  display: block;
  width: 40px;
  border: 0.5px solid #ffffff;
  position: absolute;
  top: 50%;
  right: -40px;
}
@media (min-width: 960px) {
  .contact_fixed .online::after {
    width: 6.1111111111vw;
    right: 0;
  }
}
.contact_fixed .tel {
  display: inline-block;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: 300;
  margin-left: 28px;
  border-bottom: 0.5px solid #ffffff;
  position: relative;
}
@media (min-width: 960px) {
  .contact_fixed .tel {
    font-size: 4.4444444444vw;
    letter-spacing: 0.2222222222vw;
    margin-left: 12%;
  }
}
.contact_fixed .tel::before {
  content: "";
  display: block;
  background-image: url(../images_door/iconamoon_phone-thin.png);
  background-size: contain;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  left: -36px;
}
@media (min-width: 960px) {
  .contact_fixed .tel::before {
    width: 4vw;
    height: 4vw;
    left: -16%;
  }
}

.row header {
  height: 400px;
  margin-bottom: 40px;
}
@media (min-width: 960px) {
  .row header {
    height: 600rem;
    margin-bottom: 80px;
  }
}
.row main {
  padding: 0 4%;
}
.row main .breadcrumb {
  margin-bottom: 40px;
}
@media (min-width: 960px) {
  .row main .breadcrumb {
    margin-bottom: 80px;
  }
}
.row main .breadcrumb li, .row main .breadcrumb a {
  font-size: 10rem;
  display: inline-block;
  margin-right: 4px;
  letter-spacing: 0.5px;
}
@media (min-width: 960px) {
  .row main .breadcrumb li, .row main .breadcrumb a {
    font-size: 16rem;
    margin-right: 8px;
    letter-spacing: 0.8px;
  }
}
.row main .news {
  max-width: 1200px;
  margin: 0 auto 160px;
  text-align: center;
}
.row main .news .heading {
  font-size: 48rem;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
  font-family: "Cormorant Garamond", serif;
}
@media (min-width: 960px) {
  .row main .news .heading {
    font-size: 96rem;
    margin-bottom: 40px;
    letter-spacing: 4.8px;
  }
}
.row main .news h2 {
  font-size: 12rem;
  margin-bottom: 80px;
  letter-spacing: 0.6px;
}
@media (min-width: 960px) {
  .row main .news h2 {
    font-size: 14rem;
    margin-bottom: 160px;
    letter-spacing: 0.7px;
  }
}
.row main .news .blog_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper {
    display: flex;
    gap: 44px;
  }
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul {
    margin-bottom: 40px;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card {
  margin-bottom: 40px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card {
    display: flex;
    margin-bottom: 80rem;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .image {
  width: 60%;
  height: 128rem;
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .image {
    margin-bottom: unset;
    width: 205rem;
    height: 256rem;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .text_box {
  text-align: left;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .text_box {
    width: 659rem;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .text_box__inner {
  padding: 4px;
  background: #15161A;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .text_box__inner {
    margin-top: 24rem;
    padding: 8px 8px 8px 24rem;
    background: #15161A;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .text_box__inner p.category {
  font-size: 12rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 4px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .text_box__inner p.category {
    font-size: 16rem;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .text_box__inner h3 {
  font-size: 16rem;
  line-height: 100%;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .text_box__inner h3 {
    font-size: 24px;
    letter-spacing: 1.2px;
    margin-bottom: 16px;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .text_box__inner p.content {
  text-align: justify;
  font-size: 12rem;
  line-height: 100%;
  letter-spacing: 0.6px;
  margin-bottom: 4px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .text_box__inner p.content {
    font-size: 16rem;
    line-height: 100%;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .text_box__inner .opution {
  display: flex;
  gap: 14rem;
  justify-content: right;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .text_box__inner .opution {
    gap: 28rem;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .text_box__inner .opution a.tag {
  font-size: 10rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.5px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .text_box__inner .opution a.tag {
    font-size: 14rem;
    letter-spacing: 0.7px;
  }
}
.row main .news .blog_wrapper__left ul li.blog_card .text_box__inner .opution time {
  font-size: 10rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.5px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left ul li.blog_card .text_box__inner .opution time {
    font-family: "Cormorant Garamond", serif;
    font-size: 14rem;
    letter-spacing: 0.7px;
  }
}
.row main .news .blog_wrapper__left .page_nation {
  text-align: center;
  margin-bottom: 80px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left .page_nation {
    margin-bottom: unset;
  }
}
.row main .news .blog_wrapper__left .page_nation a {
  display: inline-block;
  font-size: 10rem;
  margin-right: 24rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.1px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper__left .page_nation a {
    font-size: 20rem;
    margin-right: 48rem;
    letter-spacing: 1px;
  }
}
.row main .news .blog_wrapper__left .page_nation a:last-child {
  margin-right: unset;
}
.row main .news .blog_wrapper .blog_wrapper__right__heading {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ffffff;
  align-items: baseline;
  margin-bottom: 40px;
}
.row main .news .blog_wrapper .blog_wrapper__right__heading h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 36rem;
  line-height: 100%;
  letter-spacing: 1.2px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper .blog_wrapper__right__heading h3 {
    font-size: 48rem;
    letter-spacing: 2.4px;
  }
}
.row main .news .blog_wrapper .blog_wrapper__right__heading span {
  font-size: 12rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.6px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper .blog_wrapper__right__heading span {
    font-size: 14rem;
    letter-spacing: 0.7px;
  }
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up .heading {
  display: flex;
  gap: 8px;
  align-items: baseline;
  margin-bottom: 32px;
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up .heading h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 18rem;
  line-height: 100%;
  letter-spacing: 0.8px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper .blog_wrapper__right__pick_up .heading h4 {
    font-size: 20rem;
    letter-spacing: 2px;
  }
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up .heading span {
  font-size: 10rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.1px;
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up ul {
  margin-bottom: 40px;
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .image {
  width: 60%;
  height: 128rem;
  margin-bottom: 16px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .image {
    width: 200rem;
    height: 124rem;
    margin-bottom: 16px;
  }
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .text_box {
  text-align: left;
  margin-bottom: 24px;
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .text_box h3 {
  font-size: 16rem;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .text_box p.content {
  font-size: 12rem;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .text_box .opution {
  display: flex;
  justify-content: right;
  gap: 14px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .text_box .opution {
    gap: 28rem;
  }
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .text_box .opution a.tag {
  font-size: 10rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.5px;
}
.row main .news .blog_wrapper .blog_wrapper__right__pick_up ul li.blog_card .text_box .opution time {
  font-family: "Cormorant Garamond", serif;
  font-size: 10rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.5px;
}
.row main .news .blog_wrapper .blog_wrapper__right__keyword .heading {
  display: flex;
  gap: 8px;
  align-items: baseline;
  margin-bottom: 32px;
}
.row main .news .blog_wrapper .blog_wrapper__right__keyword .heading h4 {
  font-family: "Cormorant Garamond", serif;
  font-size: 18rem;
  line-height: 100%;
  letter-spacing: 0.8px;
}
@media (min-width: 960px) {
  .row main .news .blog_wrapper .blog_wrapper__right__keyword .heading h4 {
    font-size: 20rem;
    letter-spacing: 2px;
  }
}
.row main .news .blog_wrapper .blog_wrapper__right__keyword .heading span {
  font-size: 10rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.1px;
}
.row main .news .blog_wrapper .blog_wrapper__right__keyword .tag_area {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}
.row main .news .blog_wrapper .blog_wrapper__right__keyword .tag_area a.tag {
  font-size: 16rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.8px;
}